# DATABASES
DATABASE_NAME="reservation"
DATABASE_HOST="127.0.0.1"
DATABASE_PORT="5432"
DATABASE_USER="owner"
DATABASE_PASSWORD="password"

# SECRET
DEBUG="True"
ALLOWED_HOSTS="*"
SECRET_KEY="secret-key"